<%- include('partials/header'); %> 
<% 
var users = locals.channels.users
var owned = ("owned" in  channels) ? channels.owned : false
var channels = locals.channels
var subscribed = ("subscribed" in  channels) ? channels.subscribed : false 
%>
    <form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
        <input type="text" class="form-control" name="name" placeholder="Chanel Name" value="">
        <div class="input-group">
			<div class="custom-file">
				<input type="file" name="avatar" class="custom-file-input" id="inputGroupFile01"
				aria-describedby="inputGroupFileAddon01">
				<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
			</div>
		</div>
        <% if (users) { %>
            <% users.forEach(function(user) { %>
                <input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
				<p><%= user.name %></p>
            <% }) %>
        <% } %>
        <button id="update" type="submit">Create</button>
    </form>
<div id="owned-channels" class="user-channels">
	<h4>Your Channels</h4>
<% if (owned) { %>
	<ul>
	<% owned.forEach(function(channel) { %>
		<li>
			<img class="channelimages" src="<%= channel.image %>" alt="<%= channel.name %>">
			<a href="/channel/<%= channel.id %>/"><%= channel.name %></a>
			<a href="/channels/delete/<%= channel.id %>/"><i class="fa fa-trash" aria-hidden="true"></i></a>
		</li>
	<% }) %>
	</ul>
<% }  %>
</div>
<% 

%>
<div id="subscribed-channels" >
	<h4>Subscribed Channels</h4>
<% if (subscribed) { %>
	<ul>
	<% subscribed.forEach(function(channel) { %>
		<li>
			<img class="channelimages" src="<%= channel.image %>" alt="<%= channel.name %>">
			<a href="/channel/<%= channel.slug %>/"><%= channel.name %></a>
		</li>
	<% }) %>
	</ul>
<% }  %>
</div>
<%- include('partials/footer'); %>
